main {
    display: flex;
    align-items: center;
    flex-flow: column wrap;

    padding: 50px 50px;
    font-family: "Helvetica", "Arial", sans-serif;
}

table {
    width: 90%;
    margin: 10px auto;

    table-layout: fixed;
    border-collapse: collapse;

    /* Push the text to the top of the row, and create space around each row */
    th, td {
        padding: 0.6em;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        vertical-align: top;

        text-align: center;
    }

    /* Ensures the rows are not just the color of the background */
    tbody tr {
        background: #F4F3F2;
    }

    /* Creates stripes on header and footer */
    thead, tfoot {
        background-color: #FCB932;
    }

    /* Delete button per row */
    input[value="Delete"] {
        min-width: 50%;

        cursor: pointer;
    }
}


form {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 1em;
    padding: 1.2em;

    background: #ffe4e4;
    border-radius: 5%;

    label {
        padding-bottom: 0.3em;
    }

    > input, select {
        width: 20em;
        margin-bottom: 1em;
        /* Shifts placeholder text to right */
        padding-left: 0.3em;

        font-family: system-ui;
    }

    input[type="submit"] {
        width: 100%;
        padding: 0.4em;
        margin-top: 1em;
        border: none;
        border-radius: 5%;

        background: #e1abab;
        font-size: 1.3em;

        cursor: pointer;
    }

    input[type="submit"]:hover {
        filter: brightness(90%);
    }

    select {
        width: 100%;
    }
}