main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    gap: 7em;
    padding: 4em 6em;
}

.supplier {
    flex-grow: 1;
    padding: 0.5em;

    background: green;
    box-shadow: 10px 10px 5px #151716;

    text-align: center;

    p {
        padding: 0.3em;
        font-size: 1.2em;
        font-weight: 600;
    }
}